@media (min-width: 960px) {
  /*header*/
  header {
    width: 940px;
    top: 0;
    left: 0;
    right: 0;
    margin: 30px auto;
    padding: 0;
  }

  /*promo*/
  .promo {
    max-width: 1440px;
    margin: 0 auto;
  }

  .promo picture img {
    object-fit: none;
  }

  .promo h3 {
    top: 21%;
    font-size: 52px;
    letter-spacing: -1px;
  }

  .promo p {
    top: 53%;
  }

  .find {
    top: 65%;
  }

  @media (min-width: 1440px) {
    .promo h3 {
      top: 31%;
    }

    .promo p {
      top: 52%;
    }

    .find {
      top: 60%;
    }
  }

  /*partners*/
  .partners ul {
    width: 940px;
    margin: 30px auto;
    display: flex;
  }

  .partners ul li:nth-child(odd) {
    margin-bottom: 0;
  }

  .partners ul li:nth-child(even) {
    order: 1;
  }

  /*footer*/
  .see {
    width: 190px;
  }
}
